bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
artifacts/
.tmpbuild/
web/node_modules/
web/dist/
src/MyYuCode/wwwroot/
/artifacts
/src/MyYuCode/wwwroot
node_modules
/.vs/MyYuCode.slnx
*.DotSettings.user
