bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
artifacts/
.tmpbuild/
web/node_modules/
web/dist/
src/MoYuCode/wwwroot/
/artifacts
/src/MoYuCode/wwwroot
node_modules
/.vs/MoYuCode.slnx
*.DotSettings.user
